<!--====== Solutions Section Start ======-->
<section class="solutions-section-two rel z-1 pt-130 rpt-100 pb-80 rpb-50">
  <div class="container">
    <div class="page-title mt-4 mb-4 text-center">
      <h2>
        Cümleler
      </h2>
    </div>
    <div class="topbar mt-3 mb-3">
      <a id="delete_all_centences" class="btn btn-outline-danger btn-sm">
        <i class="fas fa-trash"></i>Tümünü Sil
      </a>
    </div>
    <table class="table">
      <thead class="text-center">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cümle</th>
          <th scope="col">Şirket İsmi</th>
          <th scope="col">İşlem</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {{#each hooks}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>
            {{this.text}}
          </td>
          <td>
            <a href="/scenario/{{this.brief.id}}" class="text-primary">{{this.brief.company_name}}</a>
          </td>
          <td>
            <a href="/scenario/hooks/delete/{{this.id}}" class="btn btn-danger btn-sm">Sil</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#delete_all_centences").click(function () {
      Swal.fire({
        title: 'Tüm Cümleleri Sil',
        text: "Tüm cümleleri silmek istediğinize emin misiniz?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Evet',
        cancelButtonText: 'Hayır'
      }).then((result) => {
        $.ajax({
          url: '/scenario/hooks/delete/all',
          type: 'GET',
          success: function (response) {
            if (response === 200) {
              Swal.fire({
                title: 'Cümleleri Sil',
                text: 'Tüm cümleler silindi.',
                icon: 'success',
                confirmButtonText: 'Tamam'
              }).then((result) => {
                window.location.reload()
              })
            }else {
              Swal.fire({
                title:'Cümleleri Sil',
                text: 'Tüm cümleler silinemedi.',
                icon: 'error',
                confirmButtonText: 'Tamam'
              }).then((result) => {
                window.location.reload()
              })
            }
          }
        })
      })
    })
  })
</script>