<!--====== Solutions Section Start ======-->
<section class="solutions-section-two rel z-1 pt-130 rpt-100 pb-80 rpb-50">
    <div class="container">
        <div class="card p-3 shadow">
            <div class="card-title text-center">
                <h3>
                    Senaryo Oluştur
                </h3>
            </div>
            <div class="card-body">
                <form id="scenario_form">
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Şirket & Şahıs İsmi"
                                name="company_name" autocomplete="off" value="{{briefs.company_name}}">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Hizmet & Ürün" name="product"
                                autocomplete="off" value="{{briefs.product}}" >
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Çözüm Getiren Sorun"
                                name="product_description" autocomplete="off" value="{{briefs.product_description}}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Somut İhtiyaç" name="concrete_need"
                                autocomplete="off" value="{{briefs.concrete_need}}" >
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Soyut İhtiyaç" name="abstract_need"
                                autocomplete="off" value="{{briefs.abstract_need}}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <textarea class="form-control" id="" cols="30" rows="10"
                                placeholder="Ürün & Hizmet Özellikleri" name="product_properties">{{briefs.product_properties}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <textarea class="form-control" cols="10" rows="5" placeholder="Ürün & Himzet Avantajları"
                                name="product_advantage">{{briefs.product_advantage}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Vadedilen Kazanımlar" name="gains"
                                autocomplete="off" value="{{briefs.gain}}" >
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Yönlendirme Linki" name="redirect_url"
                                autocomplete="off" value="{{briefs.redirect_url}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control"
                                placeholder="Videoyu izleyenlerden beklenen davranış" name="behaviour"
                                autocomplete="off" value="{{briefs.behaviour}}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Animasyon Süresi"
                                name="animation_delay" autocomplete="off" value="{{briefs.animation_delay}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <textarea class="form-control" id="" cols="5" rows="4" placeholder="Genel Konu Özeti"
                                name="summary">{{briefs.summary}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Hedef Kitle" name="target_group"
                                autocomplete="off" value="{{briefs.target_group}}" >
                        </div>
                        <div class="col-mb-3">
                            <input type="text" class="form-control" placeholder="Hedef Kitleye Hitap Dili"
                                name="target_language" autocomplete="off" value="{{briefs.target_language}}">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Şirketin Sektörü" name="company_sector"
                                autocomplete="off" value="{{briefs.company_sector}}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Seslendirme Türü" name="volume_type"
                                autocomplete="off" value="{{briefs.valume_type}}" >
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Yazı Tonu" name="font"
                                autocomplete="off" value="{{briefs.font}}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <select name="" class="form-control" id="">
                                <option value="">55 -60</option>
                                <option value="">85- 90</option>
                                <option value="">110 - 115</option>
                                <option value="">170 - 175</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" hidden value="{{briefs.id}}" id="id" name="id">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success w-100">
                                Kanca Cümleler Oluştur
                            </button>
                        </div>
                        <div class="col">
                            <a id="create_scenario_button" class="btn btn-primary w-100">
                                Senaryo Oluştur
                            </a>
                        </div>
                        <div class="col">
                            <a id="update_scenario_button" class="btn btn-warning w-100">
                                Güncelle
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--====== Solutions Section End ======-->

<!-- Modal -->
<div class="modal fade" id="result_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Oluşturulan Anahtar Kelimeler</h5>
                <button type="button" class="close" id="close_modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="keyword_list"></ul>
            </div>
            <div class="modal-footer">
                <p class="text-danger text-sm">
                    Veriler otomatik olarak kayıt edilecektir.
                </p>
            </div>
        </div>
    </div>
</div>

{{!-- Hook Centences Modal --}}
<div class="modal fade" id="create_centence_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Kanca Cümleyi Girin</h5>
                <button type="button" class="close" data-bs-dismiss="create_centence_modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Kanca Cümle" id="hook_centence">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" id="send_create_scenario_button">Senaryo Oluştur</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="scenario_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Oluşturulan Anahtar Kelimeler</h5>
                <button type="button" class="close" id="close_modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="scenario_content">
            </div>
            <div class="modal-footer">
                <p class="text-danger text-sm">
                    Veriler otomatik olarak kayıt edilecektir.
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#scenario_form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/scenario/create",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    for (const data of response) {
                        var liElement = $('<li>').text(data.message.content)
                        $('#keyword_list').append(liElement)
                        $('#result_modal').modal('show')
                        $('#scenario_form').trigger("reset");
                    }
                }
            })
        })

        $('#update_scenario_button').on('click', function(){
            var form_data = $('#scenario_form').serialize();
            var id = $('#id').val()
            $.ajax({
                url:'/scenario/briefs/update/' + id,
                type:'POST',
                data:form_data,
                success:function(response){
                    window.location.reload()
                }
            })
        })

        $('#create_scenario_button').on('click', function(){
            var form_data = $('#scenario_form').serializeArray();
            $('#create_centence_modal').modal('show')

            $('#send_create_scenario_button').on('click', function(){
                var hooks_centes = $('#hook_centence').val()
                form_data.push({name:'hooks_centes', value:hooks_centes})
                $.ajax({
                    url:'/scenario/add',
                    type:'POST',
                    data:form_data,
                    success:function(response){
                        $('#scenario_modal').modal('show')
                        $('#create_centence_modal').modal('hide')
                        var p = $('<p>').text(response[0].message.content)
                        $('#scenario_content').append(p)
                    }
                })
            })
            
        })
    })
    $('#close_modal').click(function () {
        $('#keyword_list').empty()
        $('#result_modal').modal('hide')
    })
</script>